{% extends "base.html" %}

{% block content %}
<header>
    <h1>Update Store</h1>
</header>
<section class="update-store-form">
    <form method="post">
        <div class="form-group">
            <label for="store-name">Store name</label>
            <input type="text" class="form-control" id="store-name" name="store-name" value="{{ store.name }}">
        </div>
        <div class="form-group">
            <label for="store-domain">Store domain</label>
            <input type="text" class="form-control" id="store-domain" name="store-domain" value="{{ store.domain }}" aria-describedby="store-domain-help">
            <small id="store-domain-help" class="form-text text-muted">
                What is the domain of the retail website?
            </small>
        </div>
        <div class="form-group">
            <label for="item-tag">HTML Tag</label>
            <input type="text" class="form-control" id="item-tag" name="item-tag" placeholder="span" value="{{ store.tag }}" aria-describedby="item-tag-help">
            <small id="item-tag-help" class="form-text text-muted">
                What HTML tag encloses the price of items on this website?
            </small>
        </div>
        <div class="form-group">
            <label for="item-query">HTML Query</label>
            <input type="text" class="form-control" id="item-query" name="item-query" value='{{ store.query }}' aria-describedby="item-query-help">
            <small class="form-text text-muted" id="item-query-help">
                What attributes are on the element that contain the price?
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</section>
{% endblock %}
